@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
  line-height: 1;
  padding-bottom: 9px;
}

h1.md-heading,
h2.md-heading,
h3.md-heading {
  font-size: 4rem;
  line-height: 1;
  padding-bottom: 6px;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  font-size: 1.6rem;
}

a {
  color: #f16262;
  text-decoration: none;
}

p {
  margin: 30px 0;
}
