/*sidebar styling*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.26s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.26s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 8%;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.menu-button {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 1.4%;
  padding: 10px 14px ;
  font-size: 28px; 
  cursor: pointer;
  text-align: center;
  background-color: #5fb962;
  color: #f0f0f0;
  transition-duration: 0.26s;
}

.menu-button:hover {
  background-color: #60e264;
  color: #ffffff;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

